PORT =
MODE = # DEV or PROD
DOMAIN = # if localhost, localhost:YourPort
HTTP_PROTOCOL = # http or https
NAME = 
DESC = 
VER = 
TAG = 
SWAGGER_URI = 

GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =
GOOGLE_REDIRECT_PARAM =


# MainDB
DB_ID = ""
DB_PW = ""
DB_FOLDER = ""
DB_CLUSTER = ""
DB_CODE = ""

# TestDB
TEST_DB_ID = ""
TEST_DB_PW = ""
TEST_DB_FOLDER = ""
TEST_DB_CLUSTER = ""
TEST_DB_CODE = ""